@media (max-width: 1220px) {
    .container {
        max-width: 900px;
    }
    .inner-box, .inner-button {
        display: none;
    }
    .bitmap-info {
        top: 380px;
    }
    .bitmap-info {
        display: none;
    }
    .bitmap:not(:first-child) {
        margin-top: 60px;
    }
    .pagination {
        margin-top: 80px;
    }
}

@media (max-width: 920px) {
    .row {
        margin: 0;
    }
    .header {
        margin-bottom: 0;
        position: relative;
    }
    .header-wrapper:not(.menu-icon) {
        display: none;
    }
    .menu-btn {
        display: unset;
        position: absolute;
        right: 40px;
        top: 20px;
        left: auto;

    }
    .container {
        padding: 0 10px;
    }
    .header .container {
        padding: 0;
    }
    .bitmap-section {
        margin-top: 35px;
    }
    .bitmap-main .col-4 {
        width: 100%;
        padding: 0;
    }
    .bitmap-main .col-4 img {
        object-fit: cover;
    }
    .bitmap-main .col-8 {
        width: 100%;
    }
    .bitmap-info {
        display: none;
    }
    .bitmap:not(:first-child) {
        margin-top: 30px;
    }
    h6 {
        font-size: 16px;
    }
    .most-popular p {
        font-size: 12px;
    }
    .site-info, .newsletter {
        width: 200px;
    }
    .recent-posts {
        width: 250px;
    }
    .most-popular .col-3 {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .footer-copyright {
        flex-flow: column wrap;
        gap: 20px;
    }
    .footer-info {
        flex-flow: column wrap;
        align-items: center;
        gap: 20px;
    }
    .site-info, .newsletter, .recent-posts {
        width: 100%;
    }
    .recent-posts img {
        width: unset;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 100%;
        padding: 0;
    }
    .inner-box, .inner-button {
        display: none;
    }
    .bitmap-info {
        top: 380px;
    }
    .bitmap-info {
        display: none;
    }
    .bitmap:not(:first-child) {
        margin-top: 60px;
    }
    .pagination {
        margin-top: 80px;
    }
}




